<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h2>Demo Test for Endofotonics</h2>
    <br>

    <form action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="fileToUpload">
        <input type="file" name="model" id="modelToUpload">
    <input type="submit" value="Submit" name="submit">
    </form>

    {{ prediction_display_area }}
</div>

</body>
</html>